body{padding-bottom: 200px;}
h1{font-size: 24px; margin: 50px 0; text-align: center;}
.container-fluid.expa{padding: 50px 0;}
.container-fluid.expa .container{width: 300px;}
.container-fluid.expa .badge{margin-left: 140px;border-radius: 0; padding: 0 12px; height: 24px;line-height: 24px;}
.container-fluid.expa .panel-body{height: 200px;}
.container.expb{width: 400px;}
.container.expb h1{margin: 0; font-size: 20px; float: left;}
.container.expb h2{font-size: 18px;}
.container.expb .row{margin-top: 30px;}
.glyphicon-ok-sign{color: #255625; margin-right: 3px;}
.glyphicon-alert{color: #d58512; margin-right: 3px;}
.glyphicon-info-sign{color: #ff0000; margin-right: 3px;}
.container.expc .row div{float: left; border: 1px solid #000; height: 32px;}

@media (max-width: 640px) {
    .col-12{width: 100%;}
    .col-4{width: 100%}
    .col-8{width: 100%}
}
@media (min-width: 640px) {
    .col-12{width: 100%;}
    .col-4{width: 33.333%}
    .col-8{width: 66.666%}
}